body {	
	
}

table {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}

table, td, th {
    border-collapse : collapse;
    border : 1px solid black;
};


img {
	
	display: block;
	width: 1000px;
	height: auto;
	margin-left: 60px;
	margin-right: auto;
}


